.form-registration {
    min-width: 480px;
}
label {
    font-size: 10px;
    color: #4a4a4a;
}
.login-url {
    float: right;
    color: #6a8ff9;
    transition: color 0.3s ease;
    cursor: pointer;

}
.login-url:hover {
    color: #8ea9f9;
}